#dataRow {
  background-color: lightgray;
  width: 95%;
  padding: 30px;
  padding-left: 0px;
  margin: 20px;
  word-wrap: auto;
  box-shadow: 4px 4px grey;
}

#credentials {
  background-color: #3765b0;
  box-shadow: 4px 4px orange;
  padding: 15px;
  color: whitesmoke;
  border-radius: 5px;
}

p {
  margin: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
}